*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #333;
    line-height: 35px;
}
.hsearch{
    border-bottom: 1px solid #333;
}
  nav ul li a:hover{
        color:gray;
        text-decoration: none;
    }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav{
        padding: 0 3px;
        margin: 0;
    }
    nav ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li{
        display: inline;
        padding: 5px;
        margin: 0 3px;
    }
    nav ul li a{
        color:white;
        padding: 3px;
    }
    .hidden{
        display: none;
    } 
    .hsearch{
        display: none;
    }
    .logo a{
        color:blue;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav{
        padding: 0 3px;
        margin: 0;
    }
    nav ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li{
        display: inline;
        padding: 5px;
        margin: 0 3px;
    }
    nav ul li a{
        color:white;
        padding: 3px;
    }
    .hidden{
        display: none;
    } 
    .hsearch{
        float: right;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav{
        padding: 0;
        margin: 0;
    }
    nav ul{
        margin: 0 5xp 0 5xp;
        padding: 0 5xp 0 5px;
        overflow: hidden;
    }
    nav ul li{
        display: inline;
        padding: 10px;
        margin: 10px;
    }
    nav ul li a{
        color:white;
        padding: 8px;
    }
    .hidden{
        display: none;
    } 
    .hsearch{
        float: right;
    }
    .logo{
        margin: 10px;
        padding: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav{
        padding: 0 3px;
        margin: 0;
    }
    nav ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li{
        display: inline;
        padding: 12px;
        margin: 12ppx;
    }
    nav ul li a{
        color:white;
        padding: 3px;
    }
    .hidden{
        display: inline;
    } 
    .logo{
        margin: 12px;
        padding: 12px;
    }
    .hsearch{
        float: right;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav{
        padding: 0 3px;
        margin: 0;
    }
    nav ul{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li{
        display: inline;
        padding: 20px;
        margin: 20px;
    }
    nav ul li a{
        color:white;
        padding: 3px;
    }
    .hidden{
        display: inline;
    } 
    .logo{
        margin: 20px;
        padding: 20px;
    }
    .hsearch{
        float: right;
    }
}